$ThirdpartyDir = "E:/code/Thirdparty"
$SystemEnv = @{
  Sdl2 = @{
    Core = "$ThirdpartyDir/SDL2-2.0.14";
    Image = "$ThirdpartyDir/SDL2_image-2.5.3";
    Mixer = "$ThirdpartyDir/SDL2_mixer-2.5.2";
    Ttf = "$ThirdpartyDir/SDL2_ttf-2.0.15";
  };
  #set(LUA_HOME "E:/code/Thirdparty/lua-5.3.5_win64_vc16_lib")
  LibsReleaseX64 = "$ThirdpartyDir/Libs/Release_x64";
  LibsDebugX64 = "$ThirdpartyDir/Libs/Debug_x64";
  Include = "$ThirdpartyDir/Include";
};

$output = ConvertTo-Json $SystemEnv

Write-Host $output
